<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.remania.BoardMapper">

	<!-- 글 작성 쿼리 -->
	<insert parameterType="FreeBoardDTO" id="freeBoardWrite"> 
		insert into freeBoard(freeboardnum,email,author,title,content) 
		values(freeBoard_seq.nextval,#{email},#{author},#{title},#{content})
	</insert>
	
	<!-- 업데이트 쿼리 -->
	<update parameterType="FreeBoardDTO" id="boardUpdate">
		 update freeBoard 
		 set title = #{title}, content = #{content},writeday = sysdate 
		 where freeboardnum = #{freeboardnum} 
	</update>
	
	<!-- delete 쿼리 -->
	<delete parameterType="int" id="deleteBoard"> 
		delete from freeBoard 
		where freeboardnum = #{freeboardnum} 
	</delete>

	<!-- 게시판 리스트 쿼리 -->
	<select parameterType="FreeBoardPage" id="freeBoardList" resultType="FreeBoardDTO">
		select freeboardnum,email,author,title,content,writeday,readcnt,replecnt 
		from freeBoard 
		<where>
			<if test="value != null">
				<if test="type == 'title'"> upper(title) like '%'||upper(#{value})||'%' </if>
				<if test="type == 'content'"> upper(content) like '%'||upper(#{value})||'%' </if>
			</if>
		</where>
		order by freeboardnum desc 
	</select>
	
	<!-- 전체 게시물 갯수 -->
	<select parameterType="FreeBoardPage" id="totalRecord" resultType="int">
		select count(*) from freeBoard 
		<where>
			<if test="value != null">
				<if test="type == 'title'"> upper(title) like '%'||upper(#{value})||'%' </if>
				<if test="type == 'content'"> upper(content) like '%'||upper(#{value})||'%' </if>
			</if>
		</where>
	</select>
	
	<!-- 디테일 쿼리 -->
	<select parameterType="FreeBoardDTO" id="freeBoardDetail" resultType="FreeBoardDTO">
		 select freeboardnum,email,author,title,content,writeday,readcnt, 
		 	(select count(*) from remania_comment where category='board' and boardnum = #{freeboardnum}) as replecnt 
		 from freeBoard where freeboardnum = #{freeboardnum} 
	</select>
	
	<!-- commentList  -->
	<select parameterType="HashMap" id="commentList" resultType="Comment"> 
		select num,parentComment,boardnum,category,email,author,usercomment,ref,step,comment_level,writeday 
			from remania_comment 
		where boardnum=#{num} and category=#{category}
		order by step asc
	</select>
	
	<!-- 조회 증가 -->
	<select parameterType="int" id="readcnt"> 
		update freeBoard 
		set readcnt = readcnt+1 
		where freeboardnum = #{freeboardnum}
	</select>
	
	<!-- comment 쿼리 -->
	<insert parameterType="Comment" id="comment">
		insert into remania_comment(num,parentComment,boardnum,category,email,author,usercomment,ref,step,comment_level) 
		<if test="category == 'board'"> 
			values(comment_seq.nextval,comment_seq.currval,#{boardnum},#{category},#{email},#{author},#{usercomment},comment_seq.currval, 
				(select count(*) from remania_comment where category=#{category} and boardnum = #{boardnum})+1,0)
		</if>
		<if test="category == 'buy'"> 
			values(buy_comment_seq.nextval,buy_comment_seq.currval,#{boardnum},#{category},#{email},#{author},#{usercomment},buy_comment_seq.currval,
				 (select count(*) from remania_comment where category=#{category} and boardnum=#{boardnum})+1,0)
		</if>
	</insert>
	
	<!-- comment 삭제 쿼리 -->
	<insert parameterType="Comment" id="deleteComment"> 
		delete from remania_comment 
		where num = ${num} and category = #{category}
	</insert>
	
	<!-- step 감소 쿼리 -->
	<update parameterType="Comment" id="updateStep"> 
		update remania_comment 
		set step = step-1 
		where boardnum = #{boardnum} and step > (select step from remania_comment where num = #{num} and category = #{category}) 
	</update>
	
	<!-- comment 업데이트 쿼리 -->
	<update parameterType="Comment" id="updateComment"> 
		update remania_comment 
		set usercomment = #{usercomment},writeday = sysdate 
		where category = #{category} and num = #{num} 
	</update>
	
	<!-- recomment 쿼리 -->
	<insert parameterType="Comment" id="recomment">
		insert into remania_comment(num,parentComment,boardnum,category,email,author,usercomment,ref,step,comment_level) 
		<if test="category == 'board'"> 
			values(comment_seq.nextval,#{parentComment},#{boardnum},#{category},#{email},#{author},#{usercomment},#{ref},#{step},#{comment_level}) 
		</if>
		<if test="category == 'buy'"> 
			values(buy_comment_seq.nextval,#{parentComment},#{boardnum},#{category},#{email},#{author},#{usercomment},#{ref},#{step},#{comment_level})
		</if>
	</insert>
	
	<!-- step 증가 쿼리 -->
	<update parameterType="HashMap" id="stepManager"> 
		update remania_comment 
		set step = step + 1 
		where category=#{category} and step >= #{step}
	</update>

</mapper>