<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.remania.TradeMapper">
	
	<!-- 넘겨받은 buynum에 대한 상세 정보를 반환하는 쿼리 -->
	<select id="buyDetail" parameterType="int" resultType="BuyDTO">
		select * from buy where buynum=#{value}
	</select>
	
	<!-- email에 해당하는 회원정보를 반환하는 쿼리 -->
	<select id="getMemberInfo" parameterType="string" resultType="MemberDTO">
		select * from member where email=#{value} 
	</select>
	
	<!-- trade테이블에 정보를 입력 -->
	<insert id="tradeInsert" parameterType="TradeDTO">
		insert into trade(tradenum, category, categorynum, buyer, seller)
		values(trade_seq.nextval, #{category}, #{categorynum}, #{buyer}, #{seller})
	</insert>
	
	<update id="buyStateUpdate" parameterType="map">
		<choose>
			<when test="trade == 'trading'">
				update buy set state='진행중' where buynum=#{buynum}
			</when>
			<otherwise>
				update buy set state=null where buynum=#{buynum}
			</otherwise>
		</choose>
	</update>
	
	<!-- 번호에 해당하는 거래정보를 반환하는 쿼리 -->
	<select id="getTradeInfo" parameterType="int" resultType="TradeDTO">
		select * from trade where tradenum=#{tradenum} 
	</select>
	
	<!-- 판매취소를 하여 해당 tradenum 레코드 삭제 -->
	<delete id="deleteTrade" parameterType="int">
		delete from trade where tradenum=#{value}
	</delete>
	
	<!-- 인수, 인계 확인 버튼을 누르면 이 쿼리를 타서 인수 혹은 인계 속성을 ok로 바꿈 -->
	<update id="updateTrade" parameterType="map">
		update trade set ${trade}='ok' where tradenum=#{tradenum}
	</update>
	
	<!-- transfer의 값을 가져오는 쿼리 -->
	<select id="getTransfer" parameterType="int" resultType="string">
		select transfer from trade where tradenum=#{value}
	</select>
	
	<!-- transfer의 값을 가져오는 쿼리 -->
	<select id="getTakeover" parameterType="int" resultType="string">
		select takeover from trade where tradenum=#{value}
	</select>
	
	<update id="endState" parameterType="int">
		update trade set state='완료' where tradenum=#{value}
	</update>
	
	<!-- 취소 요청이 들어오면 실행되는 쿼리 -->	
	<update id="requestCancel" parameterType="map">
		update trade set ${cancel}='o' where tradenum=#{tradenum}
	</update>
	
	<select id="selectSellCancel" parameterType="int" resultType="string">
		select sellcancel from trade where tradenum=#{tradenum}
	</select>
	
	<select id="selectBuyCancel" parameterType="int" resultType="string">
		select buycancel from trade where tradenum=#{tradenum}
	</select>
	
</mapper>